@page
@model ddfgroup.Areas.Admin.Pages.ExchangeRate.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Currency</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency.BaseCurrency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.BaseCurrency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency.BaseAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.BaseAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency.ExchangeCurrency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.ExchangeCurrency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency.ExchnageRateAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.ExchnageRateAmount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Currency.CurrencyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
