@page
@model ddfgroup.Areas.Admin.Pages.ExchangeRate.IndexModel

@{
    ViewData["Title"] = "Exchange Rate";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="main ">
    <partial name="_AdminPartialTopNav" />

    <div class="main-body">

        <div class="padding-left"><h3>@ViewData["Title"]</h3></div>

        <div class="row">

            <div class="col-12 col-xl-12 ">

                <div class="heads-padding text-right">
                    <a asp-page="Create"  class="btn btn-success btn-sm"> Add New Rate</a>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Currency[0].BaseCurrency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Currency[0].BaseAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Currency[0].ExchangeCurrency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Currency[0].ExchnageRateAmount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Currency)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BaseCurrency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BaseAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExchangeCurrency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExchnageRateAmount)
                            </td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" asp-page="./Edit" asp-route-id="@item.CurrencyId"><i class="fa fa-edit fa-1x"></i></a>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
